
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Option
            </th>

            <th>
                MedicineName
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Sub-Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td>
                    <a asp-action="Remove" asp-route-id="@item.Medicines.Id">Remove this</a> |

                </td>

                <td>
                    @item.Medicines.MedicineName
                </td>
                <td>
                    @item.Medicines.Description
                </td>
                <td>
                    @item.Medicines.Category
                </td>
                <td>
                    @item.Medicines.Price
                </td>
                <th>
                    @item.Quantity
                </th>
                <th>
                    @(item.Quantity * item.Medicines.Price)
                </th>
            </tr>
        }
        <tr>

            <td align="right" colspan="6">Sum</td>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </tbody>
</table>
@foreach (var item in ViewBag.cart)
{
    if (item.Medicines.IsPrescriptionRequired == true)
    {
        ViewBag.val = true;

        break;

    }
}
Please enter prescription if required : 
<a input type="file" name="file1" value="Enter Prescription"> </a>
<a id="f1" asp-controller="cart" asp-action="checkout" disabled>goto Checkout</a>


<a class="btn btn-primary" asp-controller="home" asp-action="viewuser_medicine">Continue Buying</a>

<script>
    function changefile(input) {

        document.getElementsById('f1').disabled = false;


    }
</script>