@model IEnumerable<OnlineMedicineStore.Data.Medicine>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "View All Medicines";
}

    

    <div class="container">
        <h3 class="display-4 text-center h3">All Medicines</h3>
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
                
                <div class="card mb-4 shadow-sm col-md-4">
                    <img src="/images/@item.MedicineName .jpg" class="card-img-top" alt="image" style="width:100%;height:15vw;object-fit:cover;">
                    <div class="card-body">
                        <h3 class="card-title"> @Html.DisplayFor(modelItem => item.MedicineName)</h3>
                        <p class="card-text">Category : @Html.DisplayFor(modelItem => item.Category)</p>
                        <p class="card-text">Price : @Html.DisplayFor(modelItem => item.Price) Rs.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-link btn-primary" role="button" asp-action="Edit" asp-route-id="@item.Id" style="color:white;list-style:none;">Edit</a>
                                <a class="btn btn-link btn-info" role="button" asp-action="MedicineDetails" asp-route-id="@item.Id" style="color:white;list-style:none;">Details</a>
                                <a class="btn btn-link btn-danger" role="button" asp-action="Delete" asp-route-id="@item.Id" style="color:white;list-style:none;">Delete</a>
                            </div>
                            
                        </div>
                    </div>
                </div>   
            }

        </div>
    </div>


